<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.health">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/SplashScreenLauncher">
        <activity
            android:name=".ActivityWeightStatistics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityNutrControlStatistics"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityAddingDayMenu"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ActivityRecommendedMenu"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityFoodMenuPager"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivitySleepStatistics"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityImageSelection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityWaterStatistics"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivity" />
        <activity
            android:name=".ActivityHome"
            android:screenOrientation="portrait"
            android:theme="@style/HomeActivity" />
        <activity
            android:name=".ActivityRegistration"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ActivityAuthorization"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>